

.interview-steps {
    display: flex;
    align-items: center;
}
.interview-step-name {
    width: 70%;
    margin-right: 12px;
}
.interview-step-check {
    display: flex;
    align-items: center;
}
.interview-steps button {
    margin-left: 12px;
    
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}